{#
/**
 * @file
 * Theme override to display a node of type Captacion.
 *
#}
{%
  set classes = [
    node.bundle|clean_class,
    node.isPromoted() ? 'is-promoted',
    node.isSticky() ? 'is-sticky',
    not node.isPublished() ? 'is-unpublished',
    view_mode ? view_mode|clean_class,
    'clearfix',
  ]
%}
<article{{ attributes.addClass(classes) }}>

  {{ title_prefix }}
  {% if not page %}
    <h2{{ title_attributes }}>
      <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h2>
  {% endif %}
  {{ title_suffix }}


  <div class="margin-bottom-20 clearfix">{{ content.edit_captacion }} {{ content.archive_captacion }}</div>

  <div{{ content_attributes.addClass('content') }}>
    <div class="row equal">
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading green">
            <h3 class="text-center">{{ 'Estado de la captacion'|trans }}</h3>
          </div>
          <div class="panel-body">
            {#{{ content.field_captacion_estado_captacion }}#}
            {{ content.assign_estado_captacion }}
            <div class="panel panel-default margin-top-20">
              <div class="panel-heading dark-blue">
                <p>{{ 'Registro de cambios de estado'|trans }}</p>
              </div>
              <div class="panel-body">
                {{ content.log_estado_captacion }}
              </div>
            </div>
            {{ content.take_action }}
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading grey">
            <h3 class="text-center">{{ 'Informacion de la captacion'|trans }}</h3>
          </div>
          <div class="panel-body">
            <div class="margin-bottom-20">
              <div class="field--label">Captador:</div>
              {{ content.captacion_captadores }}
            </div>
            {{ content.client_captador_edit_form }}
            <div class="tematica-table margin-top-20">{{ content.view_tematica }}</div>
            <div class="margin-bottom-20">{{ content.assign_tematica }}</div>
            {{ content.field_captacion_ciudad }}
            <div class="panel panel-default">
              <div class="panel-heading clearfix dark-blue">
                <div class="pull-left" style="position: relative; top: 4px;">{{ 'Notas captacion'|trans }}</div><div class="pull-right">{{ content.anadir_nota }}</div>
              </div>
              <div class="panel-body">
                {{ content.notas_table }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading blue">
            <h3 class="text-center">{{ 'Informacion del cliente'|trans }}</h3>
          </div>
          <div class="panel-body">
            <table class="table table-responsive no-borders">
              <tr><td class="text-right" style="width: 4%"><i class="glyphicon glyphicon-user"></i></td><td style="width: 20%"><div class="field--label">Nombre</div></td><td style="width: 50%">{{ content.client_name }}</td></tr>
              <tr><td class="text-right" style="width: 4%"><i class="glyphicon glyphicon-user"></i></td><td style="width: 20%"><div class="field--label">Email</div></td><td style="width: 50%">{{ content.client_email }}</td></tr>
              <tr><td class="text-right" style="width: 4%"><i class="glyphicon glyphicon-user"></i></td><td style="width: 20%"><div class="field--label">Fecha alta</div></td><td style="width: 50%">{{ content.client_fecha_alta }}</td></tr>
              <tr><td class="text-right" style="width: 4%"><i class="glyphicon glyphicon-user"></i></td><td style="width: 20%"><div class="field--label">Telefono</div></td><td style="width: 50%">{{ content.client_telefono }}</td></tr>
              <tr><td class="text-right" style="width: 4%"><i class="glyphicon glyphicon-user"></i></td><td style="width: 20%"><div class="field--label">Pais</div></td><td style="width: 50%">{{ content.client_pais }}</td></tr>
              <tr><td class="text-right" style="width: 4%"><i class="glyphicon glyphicon-user"></i></td><td style="width: 20%"><div class="field--label">Persona juridica</div></td><td style="width: 50%">{{ content.persona_juridica }}</td></tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row equal">
      <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading dark-blue">
            <h3>{{ 'Nueva actuacion'|trans }}</h3>
          </div>
          <div class="panel-body">
            {{ content.new_actuacion_captacion }}
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading red clearfix">
            <h3 class="pull-left">{{ 'Actuaciones'|trans }}</h3><div class="pull-right">{{ content.actuaciones_csv_link }} {{ content.link_to_pdf }}</div>
          </div>
          <div class="panel-body">
            {{ content.view_actuaciones_captacion }}
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
