{#
/**
 * @file
 * Carbray theme implementation to display a single page.
 * Displays a fixed left sidebar and a main column general layout. Not bootstrapified (e.g not following the grid).
 * Inspired on http://themesdesign.in/admiry/blue/index.html
 *
 * @ingroup templates
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}

{# Main #}
{% block main %}
  <div role="main" class="main-container js-quickedit-main-content">
    <div class="row-offcanvas row-offcanvas-left">
      {# Sidebar First #}
      {% if page.sidebar_first %}
        {% block sidebar_first %}
          <aside id="sidebar" class="sidebar-offcanvas" role="complementary">
            {{ page.navigation }}
            {{ page.sidebar_first }}
          </aside>
        {% endblock %}
      {% endif %}
      <section id="main-col">
        {# Navbar #}
        {% if page.navigation or page.navigation_collapsible %}
          {% block navbar %}
            {%
            set navbar_classes = [
            'navbar',
            theme.settings.navbar_inverse ? 'navbar-inverse' : 'navbar-default',
            theme.settings.navbar_position ? 'navbar-' ~ theme.settings.navbar_position|clean_class : container,
            ]
            %}
            <header{{ navbar_attributes.addClass(navbar_classes) }} id="navbar" role="banner">
              {% if not navbar_attributes.hasClass(container) %}
              <div class="{{ container }}">
                {% endif %}
                <h3 class="pull-left dashboard-heading hidden-xs">Dashboard</h3>
                <div class="navbar-header">
                  {# .btn-navbar is used as the toggle for collapsed navbar content #}
                  {% if page.navigation_collapsible %}
                    <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".sidebar-nav">
                      <span class="sr-only">{{ 'Toggle navigation'|t }}</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                  {% endif %}
                </div>

                {# Navigation (collapsible) #}
                {% if page.navigation_collapsible %}
                  <div id="navbar-collapse" class="navbar-collapse collapse">
                    {{ page.navigation_collapsible }}
                  </div>
                {% endif %}
                {% if not navbar_attributes.hasClass(container) %}
              </div>
              {% endif %}
            </header>
          {% endblock %}
        {% endif %}
        {# Header #}
        {% if page.header %}
          {% block header %}
            <div role="heading">
              {{ page.header }}
            </div>
          {% endblock %}
        {% endif %}
        {# Highlighted #}
        {% if page.highlighted %}
          {% block highlighted %}
            <div class="highlighted">{{ page.highlighted }}</div>
          {% endblock %}
        {% endif %}

        {# Breadcrumbs #}
        {% if breadcrumb %}
          {% block breadcrumb %}
            {{ breadcrumb }}
          {% endblock %}
        {% endif %}

        {# Action Links #}
        {% if action_links %}
          {% block action_links %}
            <ul class="action-links">{{ action_links }}</ul>
          {% endblock %}
        {% endif %}

        {# Help #}
        {% if page.help %}
          {% block help %}
            {{ page.help }}
          {% endblock %}
        {% endif %}

        {# Content #}
        {% block content %}
          <a id="main-content"></a>
          {{ page.content }}
        {% endblock %}
      </section>

      {# Sidebar Second #}
      {% if page.sidebar_second %}
        {% block sidebar_second %}
          <aside class="col-sm-3" role="complementary">
            {{ page.sidebar_second }}
          </aside>
        {% endblock %}
      {% endif %}
    </div>
  </div>
{% endblock %}

{% if page.footer %}
  {% block footer %}
    <footer class="footer {{ container }}" role="contentinfo">
      {{ page.footer }}
    </footer>
  {% endblock %}
{% endif %}
