{#
/**
 * @file
 * Default theme implementation to present all user data.
 *
 * This template is used when viewing a carbray client's page i.e a user without any role, just authenticated, ON FASE CAPTACION.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.field_example'. Fields attached to a user
 *   such as 'user_picture' are available as 'content.user_picture'.
 * - attributes: HTML attributes for the container element.
 * - user: A Drupal User entity.
 *
 * @see template_preprocess_user()
 *
 * @ingroup themeable
 */
#}
{% set has_mail = mail|render %}
<article{{ attributes }}>
  {% if content %}
    <div class="row">
      <div class="col-sm-8">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>{{ 'Crear nueva captacion'|trans }}</h4>
          </div>
          <div class="panel-body">
            {{ content.new_captacion }}
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="panel panel-default cliente-info">
          <div class="panel-heading">
            <h4>{{ 'Informacion del cliente'|trans }}</h4>
          </div>
          <div class="panel-body">
            {{ content.field_nombre}}
            {{ content.field_apellido }}
            {% if has_mail is not empty %}
              <div class="field"><div class="field--label">Email </div><div class="field--item">{{ mail }}</div></div>
            {% endif %}
            {{ content.field_fecha_alta }}
            {{ content.field_telefono }}
            {{ content.field_direccion }}
            {{ content.field_pais }}
            {{ content.field_fax }}
            {{ content.field_procedencia }}
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>{{ 'Captaciones'|trans }}</h4>
      </div>
      <div class="panel-body">
        {{ content.captaciones }}
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
       <h4> {{ 'Expedientes'|trans }}</h4>
      </div>
      <div class="panel-body">
        {{ content.expedientes }}
      </div>
    </div>

    <div class="cliente-notas panel panel-default">
      <div class="panel-heading">
        <h4>{{ 'Notas'|trans }}</h4>
      </div>
      <div class="panel-body">
        {{ content.anadir_nota }}
        {{ content.notas_table }}
      </div>
    </div>
    {{ content.cliente_expediente }}
  {% endif %}
</article>
