{#
/**
 * @file
 * Default theme implementation to present all user data.
 *
 * This template is used when viewing a carbray client's page i.e a user without any role, just authenticated, ON FASE PRODUCCION.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.field_example'. Fields attached to a user
 *   such as 'user_picture' are available as 'content.user_picture'.
 * - attributes: HTML attributes for the container element.
 * - user: A Drupal User entity.
 *
 * @see template_preprocess_user()
 *
 * @ingroup themeable
 */
#}
<article{{ attributes }}>
  {% if content %}
    <div class="row">
      <div class="col-sm-4">
        <div class="panel panel-default cliente-info">
          <div class="panel-heading">
            {{ 'Informacion del cliente'|trans }}
          </div>
          <div class="panel-body">
            {{ content.field_nombre}}
            {{ content.field_apellido }}
            <div class="field--label">Email: </div><div class="field--item">{{ mail }}</div>
            {{ content.field_telefono }}
            {{ content.field_direccion }}
            {{ content.field_pais }}
            {{ content.field_fax }}
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            {{ 'Situacion del cliente'|trans }}
          </div>
          <div class="panel-body">
            {{ content.field_fecha_alta }}
            {{ content.field_user_estado_de_captacion }}
            {{ content.assign_estado_captacion }}
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            {{ 'Administración del cliente'|trans }}
          </div>
          <div class="panel-body">
            {{ content.field_captador }}
            {{ content.field_responsable }}
          </div>
        </div>
      </div>
    </div>
    <div class="cliente-notas panel panel-default">
      <div class="panel-heading">
        {{ 'Notas'|trans }}
      </div>
      <div class="panel-body">
        {{ content.field_notas }}
        {{ content.anadir_nota }}
      </div>
    </div>
    {{ content.cliente_expediente }}
  {% endif %}
</article>
