{#
/**
 * @file
 * Default theme implementation to present all user data.
 *
 * This template is used when viewing a carbray client's page i.e a user without any role, just authenticated.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.field_example'. Fields attached to a user
 *   such as 'user_picture' are available as 'content.user_picture'.
 * - attributes: HTML attributes for the container element.
 * - user: A Drupal User entity.
 *
 * @see template_preprocess_user()
 *
 * @ingroup themeable
 */
#}
{% set has_mail = mail|render %}
{% set current_path = path('entity.user.canonical', {'user': user.id}) %}
{% set edit_link = path('entity.user.edit_form', {'user': user.id, 'destination': current_path}) %}
<article{{ attributes }}>
  {% if content %}
    <div class="row">
      <div class="col-sm-8">
        <div class="panel panel-default cliente-info">
          <div class="panel-heading blue clearfix">
            <h4 class="pull-left">{{ 'Informacion del cliente'|trans }}</h4><div class="pull-right"><a class="btn btn-warning margin-bottom-20" href="{{ edit_link }}">Editar cliente</a></div>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-sm-6">
                {{ content.field_nombre}}
                {{ content.field_apellido }}
                {% if has_mail is not empty %}
                  <div class="field"><div class="field--label">Email </div><div class="field--item">{{ mail }}</div></div>
                {% endif %}
                {{ content.field_fecha_alta }}
              </div>
              <div class="col-sm-6">
                {{ content.field_telefono }}
                {{ content.field_direccion }}
                {{ content.field_pais }}
                {{ content.field_fax }}
                {{ content.field_procedencia }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        {{ content.new_captacion }}
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading blue">
        <h4>{{ 'Captaciones'|trans }}</h4>

      </div>
      <div class="panel-body">
        {{ content.captaciones }}
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading blue">
       <h4> {{ 'Expedientes'|trans }}</h4>
      </div>
      <div class="panel-body">
        {{ content.expedientes }}
      </div>
    </div>

    <div class="cliente-notas panel panel-default">
      <div class="panel-heading dark-blue clearfix">
        <h4 class="pull-left">{{ 'Notas'|trans }}</h4><div class="pull-right">{{ content.anadir_nota }}</div>
      </div>
      <div class="panel-body">
        {{ content.notas_table }}
      </div>
    </div>
    {{ content.cliente_expediente }}
  {% endif %}
</article>
