{#@todo:do we need all this???#}
<div class="jumbotron jumbotron-sm">
  <h3>Expedientes de {{ client_name }}</h3>
  <div class="cliente-expedientes-container">
    {% if expedientes is not empty %}
      <table class="table table-striped">
        <thead>
          <th>Numero expediente</th>
          <th>Fecha alta</th>
        </thead>
        <tbody>
        {% for expediente in expedientes %}
          <tr class="{% if loop.index is odd %}odd{% else %}even{% endif %}">
            <td><a href="{{ expediente.link }}">{{ expediente.title }}</a></td>
            <td>{{ expediente.fecha_alta }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      <br/>
      <a href="{{ path('carbray.add_expediente_form', {'uid': uid }) }}">Crear nuevo expediente para {{ client_name }}</a>
    {% else %}
      <p>{{ 'El cliente todavia no tiene expedientes.'|trans }} <a href="{{ path('carbray.add_expediente_form', {'cliente': uid }) }}">Crear expediente para {{ client_name }}</a></p>
    {% endif %}
  </div>
</div>